@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

body {
    margin: 1% 0;
  }

html {
    font-size: 4vw;
}

p, a {
    font-family: sans-serif;
    font-size: 2.0vw;
    font-weight: 400;
    margin: 2% 25% 5% 0;
    line-height: 1.2;
    letter-spacing: -.18;
}

h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 5.5vw;
    margin: 2% 0 0 0;
    padding: 0;
}

h2 {
    font-size: 7vw;
    margin: 0;
    padding: 0;
    position: relative; 
    bottom: 0.1em;
    line-height: 1;
}

header {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ff6e00;

}

a:hover {
    color: red;
}

details {
    margin: 0;
    padding: 0;
}

details > summary {
    font-weight: 700;
    font-size: 7vw;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin:0;
    padding: 0;
}

details > summary:hover, details[open] > summary {
    text-decoration: underline 0.3vh;
}

details > summary::-webkit-details-marker {
    display: none;
}
  

.flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.nav {
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: 0;
}

.gallery img {
   width: 100%;
   object-fit: contain;
}

.bigscreen-posters {
    display: none;
}

.social-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    
}

@media only screen and (min-width: 820px) {
    details > summary:hover, details[open] > summary {
        text-decoration: underline 0.4vh;
    }
    
    .icon {
    width: 4%;
    height: 4%;
}

    .icon img {
    width:100%; 
}
    
    .gallery .hm img {
        width: 32%;
        object-fit: contain;
    }

    .gallery img {
        width: 50%;
        object-fit: contain;
     }

    body {
        min-height: 100%;
      }

    p {
        font-size: 2.0vw;
    }

    h3 {
        font-size: 5vw;
    }

    html{
        font-size: 4.3vw
    }  

    .phone-posters {
        display: none;
    }

    .bigscreen-posters {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .v-gallery {
        display: flex;
        flex-direction: column;
    }

    .v-gallery img {
        width: 100%;
    }
}